# Zig
.zig-cache/
zig-out/
*.o
**/zig-pkg

# AI agents
.claude
CLAUDE.md
AI.txt

# IDEs
.idea

# binaries
01_version/01_version
03_draw/03_draw
04_triangle/04_triangle
11_ray1/11_ray1
12_ray2/12_ray2
